$font__main: "Avenir Next", Avenir, Helvetica, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font_copy: "PT Serif", "Georgia", serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;