.article-summary {
  display: block;
  text-decoration: none;
  padding: 30px;
  &, &:visited, &:active, &:hover {
    color: $color__text-screen;
  }
}

.article-summary__title {
  clear: none;
  margin: 0;
  color: $color__link;
  line-height: 1;
  margin-bottom: 10px;
}

.article-summary__date {
  clear: none;
  font-size: 1em;
  margin: 0 0 10px 0;
}

.article-summary__excerpt {
  p { margin: 0; }
}
