body.home {
  h1, h2, h3, h4, h5, h6 {
    clear: none;
  }
  .home__upcoming-events__heading {
    clear: right;
  }
}

.home__cliffcare-sidebar {
  float: right;
  width: 17em;
  border: 5px solid #CEC7BF;
  padding: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  ul, li, .widget {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h1 {
    margin-bottom: 5px;
    font-size: 24px;
    // Hide the RSS logo
    a:nth-child(1) { display: none; }
    a:nth-child(2) {
      text-decoration: none;
      color: currentColor;
    }
  }
  li {
    .rsswidget {
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
    }
    .rssSummary {
      font-family: $font_copy;
      font-size: 14px;
    }
  }

  .home__cliffcare-sidebar__about {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba($color__text-screen,.25);
    font-size: 14px;
    p { margin: 0; }
    a { font-weight: bold; text-decoration: none; }
  }
}
