$footer-max-width: 500px;

.site-footer {
  background-color: $color__link;
  color: white;
  padding: $size__content-height-padding
}

.site-footer__content__inner {
  max-width: $size__max-content-width;
  padding-left: $size__content-width-padding;
  padding-right: $size__content-width-padding;
  margin-left: auto;
  margin-right: auto;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    &:hover {
      text-decoration: underline;
    }
  }
}

.site-footer__divider {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  margin-top: $size__content-height-padding;
  margin-bottom: $size__content-height-padding / 2;
}

.site-footer__links {
  display: flex;
  @media (max-width: $footer-max-width) { display: block; }
}

.site-footer__nav {
  flex: 1;
  @media (max-width: $footer-max-width) { margin: 40px 0; }
}

.site-footer__social-nav {
  flex: 2;
}

.site-footer__heading {
  opacity: .5;
  margin-top: 0;
}

.site-footer__heading, .site-footer__nav {
  font-size: 24px;
}

.site-footer__nav, .site-footer__social-nav {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.site-footer__social-nav {
  $circle-size: 80px;
  text-align: right;

  @media (max-width: $footer-max-width) { text-align: center; }

  ul, li { display: inline; }
  a {
    display: inline-block;
    padding: 10px;
    border: 3px solid white;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size - 2;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    &:hover, &:active { text-decoration: none; }
  }
}

.site-footer__nav__secondary {
  font-size: 21px;
}

.site-footer__bottom {
  @include clearfix;
  width: 100%;
}

.site-footer__bottom__left {
  float: left;
}

.site-footer__bottom__right {
  float: right;
}